@{
    ViewData["Title"] = "Home Page";
}
@model Program
<h1 class="text-center mb-3">Welcome, you ready to get a job?</h1>
<div class="text-center d-flex justify-content-center">
    
<a href=@Url.Action("ApplyToJobs") class="btn btn-danger">Apply to Jobs</a>
</div>
